<html>
  <head>
    <title>Apiaries</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <section>
    <div class="row justify-content-center">   
        <div class="container col-md-8 col-lg-8">
    <h2 class="page-section-heading text-center text-primary mb-0">Apiaries</h2>
    <table class="table table-light">
        <thead class="table-primary">
            <th>Name:</th>
            <th>Location:</th>
        </thead>
        {{#each apiaries}}
        <tbody>
            <td>{{this.name}}</td>
            <td>{{this.location}}</td>
        </tbody>
        {{/each}}
    </table>
    <a class="text-center text-primary mb-0" href="./hives">Come to the hives</a>
    </div>
    </div>
    </section>
  </body>
</html>