<html>
  <head>
    <title>Hives</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <section>
    <div class="row justify-content-center">   
        <div class="container col-md-8 col-lg-8">
    <h2 class="page-section-heading text-center text-primary mb-0">Hives</h2>
    <table class="table table-light">
        <thead class="table-primary">
            <th>Name:</th>
            <th>Apiary:</th>
        </thead>
        {{#each hives}}
        <tbody>
            <td>{{this.name}}</td>
            <td>{{this.apiary.name}}</td>
        </tbody>
        {{/each}}
    </table>
    <a class="text-center text-primary mb-0" href="./apiaries">Come to the apiaries</a>
    </div>
    </div>
    </section>
  </body>
</html>