<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container mt-5">
    <h2 class="page-section-heading text-center text-primary mb-0">Edit apiary</h2>
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <form action="/apiaries/{{apiary.id}}/update_apiary" method="POST" class="mt-4">
      <label for="title" class="form-label underline">Enter the apiary's new name:</label>
      <input 
        type="text" 
        id="title" 
        name="title" 
        class="form-control bg-dark text-success border-0" 
        value="{{apiary.name}}" 
        required>
      <br><br>      
      <label for="title" class="form-label underline">Enter the apiary's new location:</label>
      <input 
        type="text" 
        id="title" 
        name="title" 
        class="form-control bg-dark text-success border-0" 
        value="{{apiary.location}}" 
        required>
      <br><br>     
      <label for="description" class="form-label underline">Enter the task's new description:</label>
      <input 
        type="text" 
        id="description" 
        name="description" 
        class="form-control bg-dark text-success border-0" 
        value="{{apiary.description}}" 
        required>
      <br><br>
      <button type="submit" class="btn btn-primary btn-xl">Submit</button>
      <a href="/apiaries" class="btn btn-primary btn-xl">Return back</a>
  </div>
</body>
</html>